<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS工作</title>
    <style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 20px;
			color: #99cc19; }

            .col-lg-4 {
	border: 1px solid; }

	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <a class="navbar-brand" href="#">MENU</a>
                    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#jobs">職務</a></li>
            <li class="nav-item"><a class="nav-link" href="#needs">條件需求</a></li>
            <li class="nav-item"><a class="nav-link" href="#content">工作內容</a></li>
        </ul>
        </div>
    </nav>

    <main class="container-fluid bg-dark text-white text-center">
    
        <nav>
            <h1><a href="https://www.migocorp.com/">功典資訊股份有限公司 </a></h1>
        </nav>

        <img src="/static/image/ucans.jpg" alt="照片">
        <br><br><br>

	
    <div class="row">

    <session id="jobs" class="col-lg-4">
        
        <header><h4>職務</h4></header>
        <h6>軟體設計工程師、Internet程式設計師、MIS程式設計師</h6>

    </session>

    <article id="needs" class="col-lg-4">
        <header><h4>條件需求</h4></header>
            
            <h6><b>接受身份:</b>上班族、夜間就讀中、研發替代役、外籍人士、原住民、二度就業</h6>
            <h6><b>工作經歷:</b>不拘</h6>
            <h6><b>學歷要求:</b>不拘</h6>
            <h6><b>科系要求:</b>不拘</h6>
            <h6><b>語文條件:</b>不拘</h6>
            <h6><b>擅長工具:</b>Git、ASP.NET、C#、Visual Studio、MS SQL、HTML、CSS</h6>
            <h6><b>工作技能:</b>軟體工程系統開發、軟體程式設計、網路程式設計、資料庫程式設計</h6>
            <h6><b>其他條件:</b></h6>
        
    </article>
    
    <aside id="content" class="col-lg-4">
        <header><h4>工作內容</h4></header>
            <h6>用 C# 開發軟體產品的開發和迭代</h6>
            <header><h4>任職資格</h4></header>
            <h6>良好的團隊合作意識，對寫程式，研發軟體系統有熱情。 熟悉 C#, git, html, javascript, css 熟悉 關聯式資料庫</h6>
        </aside>
    </div><br><br>
  
<footer>  
    <p><h4>自傳履歷</h4></p>
    我擁有樂觀、沉著冷靜的特質。身為原本是運動員的我，訓練出堅強的意志力和勇於接受挑戰精神，也了解團隊合作方面重要性。另外我也具備良好英文能力，第一次參加TOEIC多益英語測驗，獲得800分。父母也經常提出有趣的假設性問題跟我討論，並且要求我找到自己的想法。這些練習讓我從小就可獨立思考，也提升我的邏輯應變和處理問題的能力和效率。這些將有助於我在學習的路程上比較不容易因為困難而喪氣，而是更用心地去尋找這困難的解決方法。
</footer>
    
	
</body>
</html>